<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui" 
      
      >
      
    <h:head>
        
    	<link rel="StyleSheet" type="text/css" href="css/style.css" media="screen" />
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDhGqTVnfDPRubbmDUBJDmdPZAajtvKSMI"></script>        
        
    </h:head>
    
<h:body>
	
<div align="center"> 
	    <h:form id="form">
	    				
	    	<br></br>
			<br></br>	
	    				
	    	<p:inputText value="#{controller.lati}" placeholder="Latitude" required="true"/>	
			<p:inputText value="#{controller.longi}" placeholder="Longitude" required="true"/>	
			<br></br>
			<br></br>
			<b:commandButton action="#{controller.consultaAPI()}" update="form gmap" value="Consultar" styleClass="btn btn-primary dt-buttons btn-group"/>	
			
			<br></br>
			<br></br>
						
			<p:gmap id="gmap" center="#{controller.center}" zoom="#{controller.zoom}" type="HYBRID" style="width:100%;height:550px"
   			 model="#{controller.emptyModel}" widgetVar="map" />
			
		</h:form>
</div>
</h:body>
</html>